# Dentales Liberato - Variables de entorno
DATABASE_URL="mysql://root:@localhost:3306/dentales_liberato"
JWT_SECRET="cambiar-por-secreto-seguro-de-al-menos-32-caracteres"
JWT_EXPIRES_IN="8h"
NEXT_PUBLIC_APP_NAME="Dentales Liberato"
